h1 {
  font-weight: 400;
  line-height: 1.2;
}
p {
  font-size: 1.125rem;
}
h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
button {
  border: none;
}
.container {
  /* width: 100%; */
  margin: 3.125rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-text {
  color: red;
  font-size: smaller;
}
.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}
.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.post-job {
  text-align: center;
}

.form {
  background: #e5e5e3;
  padding: 2.5rem;
  border-radius: 0.25rem;
  margin: 30px auto;
  width: 600px;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: black;
  color: White;
  border-radius: 2px;
  cursor: pointer;
}
@media (min-width: 576px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
